## Importing Messy Data

__Import__ the cars Dataset from the messy csv-file __cars_raw.csv__ into a Pandas DataFrame. Use appropriate __parameters__ in the __pd.read_csv()__ method to bring the DataFrame into a clean format. __Columns__ should have the following __labels__: Finally, __save__ and __export__ the dataset as new csv-file (__cars_imp.csv__).

In [1]:
labels = ['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'name']

In [2]:
import pandas as pd

In [13]:
cars=pd.read_csv("cars_raw.csv", skiprows=2, skipfooter=1, header=None, names=labels)

<ipython-input-13-09d0e371e105>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  cars=pd.read_csv("cars_raw.csv", skiprows=2, skipfooter=1, header=None, names=labels)

In [14]:
cars.to_csv("cars_imp.csv", index=False)

In [15]:
pd.read_csv("cars_imp.csv")

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0 hp,3504,12.0,70,United States,chevrolet chevelle malibu
1,15.0,8,350.0,165.0 hp,3693,11.5,70,United States,buick skylark 320
2,18.0,8,318.0,150.0 hp,3436,11.0,70,United States,plymouth satellite
3,16.0,8,304.0,150.0 hp,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0 hp,3449,10.5,70,usa,FORD TORINO
...,...,...,...,...,...,...,...,...,...
324,12.0,8,429.0,198.0 hp,4952,11.5,73,usa,mercury marquis brougham
325,27.0,4,101.0,83.0 hp,2202,15.3,76,europe,renault 12tl
326,17.0,6,250.0,100.0 hp,3329,15.5,71,usa,chevrolet chevelle malibu
327,14.5,8,351.0,152.0 hp,4215,12.8,76,usa,ford gran torino
328,25.0,6,181.0,110.0 hp,2945,16.4,82,usa,buick century limited